beautifulsoup4==4.9.3
bitarray==1.6.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
pdfminer.six==20200517
pdfplumber==0.5.24
pdfreader==0.1.5
Pillow==8.0.1
pycryptodome==3.9.8
requests==2.24.0
sortedcontainers==2.2.2
soupsieve==2.0.1
urllib3==1.25.11
Wand==0.6.3
